// -----------Default overrides for bootstrap

// TYPOGRAPHY 2022

@import url('https://fonts.googleapis.com/css2?family=Solway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

$heading: 'Solway', sans-serif;
$normal: 'Manrope', sans-serif;



// -----------COLOUR PALETTE 2022

// Bootstrap defaults - switch out these to adjust default theme

$primary: #F3FCE2;
$secondary: #004B3D;
$success: #004B3D;
$info: #2A3383;
$warning: #E6E8FC;
$dark: #004B3D;
$light: #f1f7e8;


// PAB defaults - switch out these!
$dark01: #004B3D;
$light01: #F3FCE2;

//blues
$dark02: #2A3383;
$light02: #E6E8FC;

//browns
$light03: #EDEBDA;

// Purple pink




