// -----------Default overrides for bootstrap

// TYPOGRAPHY 2022

@import url("https://fonts.googleapis.com/css2?family=Solway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

$heading: "Solway", sans-serif;
$normal: "Manrope", sans-serif;

// -----------COLOUR PALETTE 2022

// Bootstrap defaults - switch out these with branding colours below to adjust default theme

$primary: #f7f5e4;
$secondary: #243383;
$success: #004b3d;
$info: #243383;
$warning: #e6e8fc;
$dark: #243383;
$light: #f7f5e4;

// Import bootstrap variables and funtions
//@import "../node_modules/bootstrap/scss/_functions.scss";
//@import "../node_modules/bootstrap/scss/_variables.scss";

$custom-theme-colours: (
  "dgreen": #004b3d,
  "lgreen": #f3fce2,
  "dblue": #2a3383,
  "lblue": #e6e8fc,
  "librown": #edebda,
);

//$theme-colors: map-merge($theme-colors, $custom-theme-colors ), //custom colours added to theme colours map

// PAB defaults - switch out these
$dark01: #243383;
$light01: #f7f5e4;

//blues
$dark02: #2a3383;
$light02: #e6e8fc;

//browns
$light03: #edebda;

// Purple pink
