// Default overrides for bootstrap

// TYPOGRAPHY 2022

@import url('https://fonts.googleapis.com/css2?family=Solway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

$heading: 'Solway', sans-serif;
$normal: 'Manrope', sans-serif;

// COLOUR PALETTE 2022

$dark01: #525555;
$light01: #F3FCE2;

$dark02: #2A3383;
$light02: #E6E8FC;
