//HOVER AND FOCUS STATES

//CARD hover and focus
.card:hover,
.card:focus,
.card:focus-within {
  box-shadow: -2px 10px 30px 5px;
  offset: 1px;
  cursor: pointer;
  transition-duration: 0.5s;
  transform: scale(1.01);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.dropdown-item:hover {
  background-color: $dark;
  border-radius: 5px;
}

a.dropdown-item:hover,
a.dropdown-item:focus,
a.dropdown-item:active {
  color: $light01;
  background-color: $dark01;
  border-radius: 5px;
}

.fa-search:hover,
.fa-search:focus,
.fa-search:active {
  transition-duration: 0.5s;
  transform: scale(2.02);
}

.nav-link-footer {
  @extend .nav-link;
  &:hover,
  &:focus,
  &:active {
    background-color: $light;
    border-radius: 10px;
    a {
      color: $dark;
    }
  }
}

footer {
  .socials:hover {
    a:hover {
      color: $dark;
      background-color: $light;
      border-radius: 10px;
      padding: 8px 8px;
      transition-duration: 0.3s;
      transform: scale(1.01);
    }
  }
}
