// Custom PAB partials - add these above the imported bootstrap so that they are prioritised
@import "buttonPAB";
@import "defaultsPAB";
@import "images";
@import "cardsPAB";
@import "focusPAB";

// Import all of Bootstrap's CSS

@import "node_modules/bootstrap/scss/bootstrap";

// Font awesone
//@import '~@font-awesome/scss/font-awesome.scss'

h1,
h2,
h3,
.navbar {
  font-family: $heading;
  color: $dark01;
}

.fa-search {
  color: $dark;
}

// NAV

.dropdown-menu,
.dropdown-item {
  font-family: $normal;
  font-weight: 900;
  color: $dark01;
  background-color: $light01;
  border-radius: 5px;
}

.nav-item {
  padding: 8px;
}

.navbar-toggler-icon {
  background-image: none;
}
.navbar-toggler-icon::before {
  font-family: FontAwesome;
  font-size: 2rem;
  content: "\f0c9"; /* fa-bars, fa-navicon */
}

.nav-link {
  font-family: $heading;
  font-size: large;
  color: $dark;
  border-radius: 6px;
  &:hover,
  &:active,
  &:focus {
    color: $light01;
  }
}

.navbar {
  background-color: $light01;
}

// MAIN CONTENT

p {
  font-family: $normal;
  color: $gray-900;
}

body {
  background-color: $light01;
}

//LAYOUT

.container {
  max-width: 1600px;
}

//FOOTER

footer {
  background-color: $dark01;

  p {
    color: $light01;
  }
}

.btn-primary,
.join {
  background-color: $dark01;
  color: $light01;
  border-color: $light01;
  &:hover {
    background: $light01;
    color: $dark01;
    outline: $dark01;
    outline-radius: 6px;
    outline: 1px solid;
  }
}
