// Custom PAB partials - add these above the imported bootstrap so that they are prioritised
@import "buttonPAB";
@import "defaultsPAB";
@import "images";
@import "cardsPAB";

// Import all of Bootstrap's CSS

@import "node_modules/bootstrap/scss/bootstrap";

// Font awesone
//@import '~@font-awesome/scss/font-awesome.scss'

h1,
h2,
h3,
.nav-link {
  font-family: $heading;
  color: $dark01;
}

.nav-link {
  font-size: large;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-item {
  padding: 8px;
}

p {
  font-family: $normal;
  color: $gray-900;
}

body {
  background-color: $light01;
}

.btn-primary {
  background-color: $dark01;
  color: $light01;
  border-color: $light01;
  &:hover {
    background: $light01;
    color: $dark01;
  }
}

.navbar {
  background-color: $light01;
}

.dropdown-menu {
  color: $dark01;
  background-color: $light01;
}

//LAYOUT

.container {
  max-width: 1600px;
}

//FOOTER

footer {
  background-color: $dark01;

  p {
    color: $light01;
  }
}
